.CreateEventDialog .ms-Dialog-main {
    width: 400px;
}

.CreateEventDialog .ms-Dialog-subText{
    display: flex;
}

.CreateEventDialog .startTime {
    display:flex;
}

.CreateEventDialog .ms-DatePicker {
    padding-right: 14px;
}

.CreateEventDialogButton{
    text-align: right;
}


.CreateEventDialogButton .NavButton{
    width: 40px;
}

.CreateEventDialogButton .ms-Button{
    border: 0px;
    min-width: fit-content;
    padding: 0px;
}

.CreateEventDialogButton .ms-Button i{
    font-size: 24px;
}