

.ms-DocumentCard.EventCard{
  user-select: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  min-width: 0px;
}

.ms-DocumentCard.EventCard .eventInfo span{
  font-size: 80%;
}

.ms-DocumentCard.EventCard .eventInfo p{
  margin:0px;
}

.ms-DocumentCard.EventCard .joinButton{
  position: absolute;
  bottom: -8px;
  right: -4px;
}

.ms-DocumentCard.EventCard .content{
  margin: 8px;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.ms-DocumentCard.EventCard .title{
  font-weight: bold;
  font-size: 100%;
  margin: 0px;
}