
.EventWall .EventEntry{
  border: 10px solid #f3f2f1;
}

.EventWall{
  height: 97%; 
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
  background-color: #f3f2f1;
}

.EventWall .SimpleBar{
  height: 100%;
}