.SlideBar-top .EventCard-margin{
    margin-bottom: 15px;
}
.SlideBar-main .EventCard{
    margin-top:10px;
}
.SlideBar-top .NavButton{
    width: 40px;
}
.SlideBar-top .ms-Button{
    border: 0px;
    min-width: fit-content;
    padding: 0px;
}
.SlideBar-top .ms-Button i{
    font-size: 24px;
}
.SlideBar-top{
    text-align: right;
}
